
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;500;600;700&display=swap');



.font{
  font-family:'Oswald', cursive;
  
}

.logo{
  width: 30%;
  
}

.flip-card {
  transform: translateY(50px); 
  transition: opacity 2s, transform 2s;
  background-color: transparent;
  width: 190px;
  height: 300px;
  perspective: 1000px;
  font-family: sans-serif;
}

@-webkit-keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
@keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

.rotate-vert-center {
	-webkit-animation: rotate-vert-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: rotate-vert-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
  .title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 1rem;
  }
  
  .flip-card-front {
    background: linear-gradient(120deg, rgb(251, 251, 251) 60%, rgb(255, 231, 222) 88%,
       rgb(255, 211, 195) 40%, #FFCC01 48%);
    color: rgb(8, 0, 0);
  }
  
  .flip-card-back {
  
    transform: rotateY(180deg);
  }


  .card__info {
    margin-top: 6px;
    width: 95%;
    height: 200px;
    padding: .7rem;
    font-size: smaller;
    border-radius: 1rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    text-align: center;
    background: rgb(0,0,0);
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.5634628851540616) 3%, rgba(0,0,0,0.3477766106442577) 25%, rgba(255,255,255,0.4822303921568627) 59%, rgba(255,255,255,0) 76%);
   }

   .card__info2 {
   
    width: 95%;
    height: 150px;
    padding: .7rem;
    font-size: smaller;
    border-radius: 1rem;
    text-align: center;
    background: rgb(0,0,0);
    background: rgb(0,0,0);
    background:linear-gradient(180deg, rgba(0,0,0,0.5634628851540616) 3%, rgba(0,0,0,0.3477766106442577) 25%, rgba(255,255,255,0.4822303921568627) 59%, rgba(255,255,255,0) 76%);
   }

   .card2 {
    margin-top: 0px;
    margin-bottom: 10px;
    width: 95%;
    height: 150px;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background:  linear-gradient(0deg, rgba(0,104,174,1) 93%, rgba(255,255,255,0.9780287114845938) 100%);
   
    color: aliceblue;
   }
